@font-face{
font-family: 'Beaconimport';
src: url('Beacon.eot'); /* IE9 Compat Modes */
 src: url('Beacon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('Beacon.woff2') format('woff2'), /* Super Modern Browsers */
      url('Beacon.woff') format('woff'), /* Pretty Modern Browsers */
      url('Beacon.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('Beacon.svg#svgFontName') format('svg'); /* Legacy iOS */
} 


br{
	  display: block;
      content: "";
      margin-top: 100px; 
}

h1{
	text-align: center;
	background-color: lightpink;
}

/* START BOUNCE:   STYLING THE CIRCLE THAT IS BOUNCING */
.bounce{
	color: black;
    font-size: 30px;
 /* ADOBE FONT : URBANA SEMI BOLD ITALIC */
    font-family: urbana, sans-serif;
    font-weight: 600;
    font-style: italic;
}

/* ANIMATION */
.bounce:hover {
	animation: bouncing 1.5s ease-in-out infinite;
}

@keyframes bouncing {
	0%,{transform:translateY(0);
	}
	25% {transform: translateY(-100px);
	}
	50% {transform: translateY(10px);
	}
	75% {transform: translateY(-30px);
	}
	100% {transform: translateY(0);
	}
}
/*END BOUNCE*/

/* START SHAKE:  STYLING THE SQUARE THAT IS SHAKING */
.shake{
	color: black;
	font-size: 30px;
/* GOOGLE FONT: LIMELIGHT */
    font-family: 'Limelight', cursive;
}

/* ANIMATION */
.shake:hover{
	animation: shake 0.2s ease infinite;
}

@keyframes shake{

    0% {transform: translateX(0);
    }
	25%{transform: translateX(-2px) rotate(1deg);
	}
	50% {transform: translateX(3px);
	}
	80% {transform: translateX(2px)rotate(1deg);
	}
	100% {transform: translateX(0) rotate(-1deg);
	}
}
/*END SHAKE*/

/* START FALL:  STYLING THE TRIANGLE THAT IS FALLING */
.fall{
	color: black;
	font-size: 30px;
/*FONT NAME: BEACON */
   font-family: Beaconimport, sans-serif;
   /*font-family: Arial; */

}

/* ANIMATION */
.fall:hover{
	animation: falling 1s;
}

@keyframes falling {

	0% {transform: translateY(0);
	}
	50% {transform: translateY(-10px) rotate(2deg);
	}
	100% {transform: translateY(200px);
	}
}

/*END FALL*/